<h1>Fluxo de caixa</h1>

<div class="formAdicionar">
    <form action="/adicionar" method="post">
        <%= csrf_meta_tags %>
        <div class="form-group">
            <label for="tipo">Tipo:</label>
            <input type="text" class="form-control" id="tipo" name="tipo" placeholder="Digite o tipo">
        </div>
        <div class="form-group">
            <label for="valor">Valor:</label>
            <input type="number" step="0.01" class="form-control" id="valor" name="valor" placeholder="Digite o valor">
        </div>
        <div class="form-group">
            <label for="status">Status:</label>
            <select class="form-control" id="status" name="status">
                <option value="<%= Caixa::CREDITO %>">Entrada</option>
                <option value="<%= Caixa::DEBITO %>">Saída</option>
            </select>
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Salvar</button>
  </form>
</div>
